<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Name</th>
      <th>Description</th>
      <th>Completed?</th>
      <th>Date Completed</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @index %></td>
      <td><%= @name %></td>
      <td><%= @description %></td>
      <% if @date_completed != "" %>
        <td><%= "yes" %></td>
      <% else %>
        <td><%= "no" %></td>
      <% end %>
      <td><%= @date_completed %></td>
    </tr>
  </tbody>
</table>

<!-- <form action="" method="post" accept-charset="utf-8">
  <label for="yes">Yes</label>
  <input type="radio" name="completed" value="yes" id="yes">
  <label for="no">No</label>
  <input type="radio" name="completed" value="no" id="no" checked>
  <input type="submit" value="Mark Completed">
</form> -->
