<h1>Task List</h1>
<a href="/new_task"><p>Add a new task</p></a>

<% if @all_records %>
	<table>
		<thead>
			<tr>
				<th>Index</th>
				<th>Name</th>
				<th>Description</th>
				<th>Completed?</th>
				<th>Date Completed</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<% @all_records.each do |index, name, description, date_completed| %>
				<tr>
					<td><%= index %></td>
					<td><%= name %></td>
					<td><%= description %></td>
					<% if date_completed != "" %>
						<td><%= "yes" %></td>
					<% else %>
						<td><%= "no" %></td>
					<% end %>
					<td><%= date_completed %></td>
					<td><a href=<%="/#{index}/edit"%>>edit</a></td>
					<td><a href=<%="/#{index}/delete"%>>delete</a></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
