<h1>Task List</h1>
<a href="/new_task"><p>Add a new task</p></a>

<% if @all_records %>
	<table>
		<thead>
			<tr>
				<th>Index</th>
				<th>Name</th>
				<th>Description</th>
				<th>Completed?</th>
				<th>Date Completed</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<% @all_records.each do |index, name, description, date_completed| %>
				<tr>
					<td><%= index %></td>
					<td><%= name %></td>
					<td><%= description %></td>
					<% if date_completed != "" %>
						<% @completed = "yes" %>
					<% else %>
						<% @completed = "no" %>
					<% end %>

					<% if @completed == "yes" %>
						<td><%= @completed %></td>
					<% else %>
						<td>
							<form action="" method="post">
								<input type="hidden" name="task_index" id="task_index" value="<%= index %>">
								<label for="completed"></label>
								<input type="checkbox" id="completed" name="completed" value="completed?">
								<input type="submit" value="completed?">
							</form>
						</td>
					<% end %>
					<td><%= date_completed %></td>
					<td><a href=<%="/#{index}/edit"%>>edit</a></td>
					<td><a href=<%="/#{index}/delete"%>>delete</a></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

<%= params %>
