<h1>Add a new task</h1>

<form action="" method="post" accept-charset="utf-8">
	<label for="tasklist[name]">Name:</label>
	<input type="text" name="tasklist[name]" id="tasklist[name]">

	<label for="tasklist[description]">Description:</label>
	<input type="text" name="tasklist[description]" id="tasklist[description]">

	<label for="tasklist[completed_date]">Date of completion:</label>
	<input type="text" name="tasklist[completed_date]" id="tasklist[completed_date]">

	<input type="submit" value="Add task">
</form>

<% if @tasklist %>
	<h2>You entered the following task:</h2>
	<p>Name: <%= @name %></p>
	<p>Description: <%= @description %></p>
	<p>Date of completion: <%= @completed_date %></p>
	<p>id? <%= @last_record_id %></p>
<% end %>

<!-- <pre>
	<%= params %>
</pre>
 -->